body{
    background-color: rgb(218, 1, 120);
}
#barbie{
    width: 250px;
    height: 350px ;
    margin: auto;
    display: block;
}
header ul{
    display: flex;
    list-style: none;
}
#titulo{
    text-align: center;
}